:root {
  --primary-color: #0089a7;
  --bg-color: #fff;
  --scrollbar-color: #ddd;
  --scrollbar-color-hover: #bbb;
  --logo-brightness: 0;
}

html {
  background-color: var(--bg-color);
  overflow: scroll;
  @apply text-gray-800;
}

html.dark {
  --primary-color: #33a6b8;
  --bg-color: #080808;
  --scrollbar-color: #444;
  --scrollbar-color-hover: #666;
  --logo-brightness: 5;
  @apply text-gray-200;
}

* {
  scrollbar-color: var(--scrollbar-color) var(--bg-color);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color-hover);
}

.icon {
  @apply text-2xl align-text-bottom;
}

.nav {
  a,
  span {
    @apply cursor-pointer outline-none transition transition-opacity duration-200 opacity-70 hover:opacity-100;
  }
}

.blog-list {
  @apply space-y-16;

  h3 {
    font-size: 1.75rem;
    @apply text-[var(--primary-color)] mb-3 font-bold;
  }

  p {
    @apply mt-1;
  }
}

.logo {
  @apply outline-none filter brightness-[var(--logo-brightness)];
}
