:root {
  --bg-color: #fff;
  --scrollbar-color: #ddd;
  --scrollbar-color-hover: #bbb;
}

html {
  background-color: var(--bg-color);
  overflow: scroll;
  @apply text-gray-800;
}

html.dark {
  --bg-color: #08192d;
  --scrollbar-color: #444;
  --scrollbar-color-hover: #666;
  @apply text-gray-200;
}

* {
  scrollbar-color: var(--scrollbar-color) var(--bg-color);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color-hover);
}

.icon {
  @apply text-2xl align-text-bottom;
}

.nav {
  a,
  span {
    @apply cursor-pointer transition transition-opacity duration-200 opacity-70 hover:opacity-100;
  }
}

.blog-list {
  @apply space-y-16;
  h3 {
    font-size: 1.75rem;
    @apply mb-4 font-bold transition transition-opacity duration-300 opacity-80 hover:opacity-100;
  }
  p {
    @apply mt-1;
  }
}
