@import './a11y-dark.css';

.prose {
  --c-base: #222;
  --c-deep: #111;
  --c-deeper: #000;
  --c-anchor: #0089a7;
  --bg-hr: rgba(0, 0, 0, 0.2);
  --bg-inline-code: #a5dee433;
  --p-gap: 1.75rem;

  header {
    h1 {
      @apply text-[2.5rem] text-[var(--c-deeper)] mb-4;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply !text-[var(--c-deep)];

    &:hover {
      a.header-anchor {
        @apply opacity-100;
      }
    }
  }

  blockquote {
    @apply mx-0;
  }

  pre {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
    line-height: 1.5 !important;
    margin-left: -1.2em;
    margin-right: -1.2em;
    padding: 1.2em 1.2em !important;
  }

  code:not([class^='language-']) {
    &::before,
    &::after {
      content: none;
    }
    @apply font-semibold text-sm p-1 rounded-lg bg-[var(--bg-inline-code)];
  }

  a {
    transition: border 0.2s ease-in-out;
    @apply border-b border-solid border-[var(--c-anchor)];

    &:hover {
      @apply border-transparent;
    }

    &.header-anchor {
      float: left;
      margin-top: 0.125em;
      margin-left: -1.2em;
      padding-right: 0.4em;
      font-size: 0.85em;
      opacity: 0;
      text-decoration: none;
      border: 0;
    }
  }

  hr {
    @apply h-1px bg-[var(--bg-hr)];
  }

  ul > li::before {
    @apply !bg-[var(--c-base)];
  }
}

html.dark .prose {
  --c-base: #dddddde0;
  --c-deep: #dbdbdb;
  --c-deeper: #fff;
  --c-anchor: #33a6b8;
  --bg-inline-code: #a5dee433;
  --bg-hr: rgba(255, 255, 255, 0.2);
}
